@import '../../main.scss';
body {
  overflow: hidden;
}
.landing-container {
  background-color: $btn-primary-dark-bg;
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
  // background: linear-gradient(180deg,$btn-primary-bg ,$btn-primary-dark-bg);
  height: 80vh;
  display: grid;
  place-items: center;
  position: relative;
  .landing-inner-container {
    position: absolute;
    background-color: #ffffff;
    height: 80%;
    min-width: 50%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    .img-section {
      background: url('../../assets/welcome.svg') no-repeat center center/cover;
      height: 100%;
      width: 30%;
    }
    .login-section {
      width: 70%;
      .test-btn {
        background-color: $btn-primary-bg;
        color: #ffffff;
        font-weight: 500;
      }
      h1 {
        color: $muted-text-color;
        font-weight: bolder;
        font-size: 2.5rem;
      }
      form {
        width: 70%;
      }
      label,
      h6 {
        font-weight: bold;
        color: #000000;
        font-size: 0.8rem;
      }
      span {
        cursor: pointer;
      }
      .form-control:focus {
        box-shadow: 2px 2px $btn-primary-bg;
        border: 1px solid #cccccc;
      }
      button {
        min-width: 6rem;
        height: 2rem;
        &:focus {
          box-shadow: none;
        }
        &.login-btn {
          background-color: $btn-primary-bg;
          color: #ffffff;
          align-self: center;
          font-weight: bolder;
        }
        &.signup-btn {
          background-color: #ffffff;
          color: $btn-primary-bg;
          border: 1px solid $btn-primary-bg;
          align-self: center;
          font-weight: bolder;
        }
      }
    }
  }
}

@media (max-width: 990px) and (min-width: 300px) {
  .img-section {
    display: none;
  }
  .login-section {
    width: 100% !important;
    margin-top: -2rem;
    form {
      width: 100% !important;
    }
  }
}
