@import '../../main.scss';
.verify-email-container {
  height: 80vh;
  display: grid;
  place-items: center;
  .verify-text-container {
    border: 1px solid #cccccc;
    border-radius: 5px;
    min-height: 50%;
    display: grid;
    place-items: center;
    box-shadow: 2px 4px $btn-primary-bg;
    button {
      background-color: $btn-primary-bg;
    }
  }
}
