@import '../../../main.scss';
a {
  text-decoration: none;
  color: unset;
  &:hover {
    color: $btn-primary-bg;
  }
}
.company-questions > div {
  margin: 2%;
  border: 1px solid #cccccc;
  padding: 2% 2% 0 2%!important;
  border-radius: 5px;
  &:hover {
    box-shadow: 2px 2px 4px $btn-primary-bg;
  }
}
.question-item {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 2% 5%;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 4px $btn-primary-bg;
  }
  p {
    text-align: right;
  }
}
