@import '../../main.scss';

.company-container {
  background-color: $primary-body-bg;
  max-height: 100vh;
  padding: 5% 0 10% 5%;
  width: 100%;
  position: relative;
  overflow: auto;
  .company-details-container {
    background: #ffffff;
    width: 90%;
    border-radius: 5px;
  }
  .header-container {
    border-radius: 5px;
    .banner-section {
      height: 20vh;
      border-radius: 5px 5px 0 0;
    }
    .logo-section {
      margin-top: -2rem;
      padding-left: 2%;
      display: flex;
      align-items: center;
      img {
        height: 80px;
      }
      .company-name {
        padding-left: 2%;
      }
    }
    .ratings-container {
      span {
        font-weight: 400;
        font-size: 1.5rem;
        color: #0caa41;
      }
      i {
        color: #0caa41;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 0.2%;
      }
    }
    .follow-btn {
      display: flex;
      padding-right: 1%;
      justify-content: flex-end;
      button {
        background: $btn-primary-bg;
        height: 30px;
        color: #ffffff;
        font-weight: bold;
        &:focus {
          border: none;
          box-shadow: none;
        }
      }
    }
    .tabs-container {
      display: flex;
      button {
        padding: 1rem;
        padding-right: 2rem;
        background: #fff;
        border: none;
        border-right: 1px solid #e5e5e5;
        color: $btn-primary-bg;
        font-weight: 500;
      }
      .button-active {
        border-bottom: 3px solid $btn-primary-bg;
      }
      box-shadow: 0px 2px #cccccc;
    }
    hr {
      margin-top: 0;
    }
  }
  .company-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 30vh;
    .questions-container,
    .users-containers {
      padding: 0 2% 0 2%;
    }
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .company-container {
    padding: 0;
  }
  .company-details-container {
    width: 100% !important;
    .company-body {
      grid-template-columns: auto;
      padding: 0 0% 15% 0%;
    }
  }
  .tabs-container {
    flex-wrap: wrap;
    // justify-content: center;
    button {
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      padding: none !important;
    }
  }
}
