@import '../../main.scss';

.settings-container {
  height: 95vh;
  background-color: $primary-body-bg;
  padding: 2% 5%;
  .title {
    font-weight: bold;
    span {
      color: $btn-primary-bg;
    }
  }
  .settings-details-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 95vw;
    height: 90%;
    .settings-menu {
      ul {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          cursor: pointer;
          width: 50%;
          border-radius: 5px;
          padding: 1%;
          img {
            width: 30px;
            height: 30px;
          }
          span {
            margin-left: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
    }
    .settings-details {
      overflow-y: auto;
      .settings-loader {
        display: grid;
        place-items: center;
        width: 50%;
        height: 80%;
      }
    }
  }
}
