@font-face {
  font-family: 'SegoeUI';
  src: url('./fonts/Segoe-UI.ttf');
}

$btn-primary-bg: #3b49df;
$btn-disbaled-bg: #626de4;
$focus-primary-color: #3b49df;
$search-input-bg: #eef0f1;
$muted-text-color: #837f7f;
$notFound-bg-color: #3b49df;

* {
  font-family: 'SegoeUI';
}
