@import '../../../main.scss';

.employees-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  .employee-item {
    padding: 5%;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    position: relative;
    img {
      height: 60px;
    }
    span {
      background-color: $btn-primary-bg;
      position: absolute;
    }
  }
}
