@import '../../main.scss';
.modal-dialog {
  margin-top: 15%;
  min-width: unset !important;
  .modal-body {
    border: none;
  }
  .form-control:focus {
    box-shadow: 2px 2px $btn-primary-bg;
    border: 1px solid #cccccc;
  }
  button {
    min-width: 6rem;
    height: 2rem;
    &:focus {
      box-shadow: none;
    }
    &.login-btn {
      background-color: $btn-primary-bg;
      color: #ffffff;
      align-self: center;
      font-weight: bolder;
    }
  }
}
