@import '../../main.scss';



.dashboard-container {
  height: 80vh;
  background-color: $primary-body-bg;
  padding: 30px 20px;
  overflow-y: scroll;
  .up-arrow {
    position: absolute;
    bottom: 12%;
    right: 10%;
  }
  .dashboard-details-container {
    display: grid;
    grid-template-columns: 15% 65% 15%;
    grid-gap: 5%;
    width: 90%;
    .dashboard-menu {
      max-height: 40vh;
      ul {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          cursor: pointer;
          border-radius: 5px;
          padding: 1%;
          &:hover {
            background-color: #e2e4e6;
            color: $focus-primary-color;
          }
          &:active {
            background-color: #e2e4e6;
            color: $focus-primary-color;
          }
          span {
            margin-left: 1rem;
            font-size: 1rem;
            font-weight: normal;
          }
        }
      }
      hr {
        width: 80%;
      }
      .social-links {
        width: 80%;
        display: flex;
        justify-content: space-between;
      }
      img {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }
    .dashboard-user-feed {
      a {
        text-decoration: none;
        color: unset;
      }
      .feed-item-container {
        background: #ffffff;
        border-radius: 5px;
        padding: 2% 2%;
        width: 100%;
        cursor: pointer;
      }
    }
    .suggestions-container {
      height: 40vh;
      background: #ffffff;
      border-radius: 5px;
      // margin-top: 5%;
      min-width: 15vw !important;
      .header-section {
        background: #3a3939;
        color: #ffffff;
        padding: 2%;
        text-align: center;
        border-radius: 5px 5px 0 0;
      }
      .company-item {
        padding: 4px;
        display: flex;
        background: #ffffff;
        align-items: center;
        flex-direction: row;
        i{
          color: $btn-primary-bg;
        }
        h6{
          margin-bottom: 0;
          margin-left: 10px;
          margin-right: 10px;
          font-weight: 500;
        }
        img{
          width: 35px;
          padding: 2px;
          border-radius: 10%;
          margin: 4px;
          object-fit: fill;
          border: 1px solid rgba(128, 128, 128, 0.342);
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .dashboard-container {
    overflow: auto;
    padding: 2% 10%;
    
    .dashboard-details-container {
      position: relative;
      display: flex !important;
      flex-direction: column;
      width: 100%;
      .dashboard-menu {
        ul {
          flex-direction: row;
          width: 100%;
          hr {
            display: none;
          }
        }
        .social-links {
          display: none;
        }
      }
      .suggestions-container {
        display: none;
        position: absolute;
        top: 1%;
        left: 80%;
        width: 30%;
        margin-left: 5%;
        height: 20vh;
        .header-section {
          padding: 5%;
        }
        img {
          display: none;
        }
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .dashboard-container {
    padding: 1% 10%;
    .dashboard-details-container {
      width: 100%;
      .dashboard-menu {
        ul {
          flex-direction: row;
          width: 80%;
          margin: auto;
          hr {
            display: none;
          }
          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
              margin-left: 1.5rem;
              height: 20px;
              width: 20px;
            }
          }
        }
        .social-links {
          display: none;
        }
      }
      .feed-item-container {
        width: 100% !important;
      }
      .suggestions-container {
        display: none;
      }
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dashboard-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dashboard-container{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.catBadge{ display: inline-block;
   padding: 4px; margin-left: -2%; }

.compill{
  border-radius: 3px;
  // border: 1px solid gray;
  background-color: $btn-primary-light-bg;
  padding: 6px;
}
h4::first-letter {
  text-transform: capitalize;
}
.answers{
  h6{
    margin-top: 10px;
    color: #8a8a8a;
    font-weight: bold;
  }
}
h6::first-letter {
  text-transform: capitalize;
}
